.idea/*
datasets/.DS_Store
.DS_Store
datasets/amazon-book/kg_final.txt
*.npy
datasets/yelp2018/_rel_entity_freq
datasets/yelp2018/_rel_ecount
*.pyc
__pycache__
trained_model/
# build_docker.sh
# run_docker.sh
# Dockerfile
# README_DOCKER.md
# requirements.txt
